<header class="header">
    <div class="container">
        <div class="logo">
            <a href="#" class="anchor-unstyled">
                <span class="tag"><</span>gkarampelas<span class="tag">/></span>
            </a>
        </div>

        <button class="menu-btn" aria-label="Toggle menu">
            <i class="icon icon-menu" data-feather="menu"></i>
            <i class="icon icon-close" data-feather="x"></i>
        </button>
        <nav class="nav">
            <div class="nav-inner">
                <a href="#about">About</a>
                <a href="#skills">Skills</a>
                <a href="#education">Education</a>
                <a href="#contact">Contact</a>
            </div>
        </nav>
    </div>
</header>


