:host {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border-color-transparent);
    border-radius: 12px;
    background-color: var(--color-card-background);
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border-color-secondary-transparent);
}

.card svg {
    stroke: var(--color-primary);
    fill: transparent;
}

.card svg path {
    fill: transparent;
}

.card:hover svg {
    stroke: var(--color-secondary);
}

.card-icon-wrapper {
    padding: 12px;
    background-color: var(--color-secondary);
    width: fit-content;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover .card-icon-wrapper {
    background-color: var(--color-primary);
}

#title-card {
    color: var(--color-text-secondary);
    margin: 0;
}

::slotted(*) {
    margin: 0;
}
