.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border-color-transparent);
    border-radius: 12px;
    background-color: var(--color-card-background);
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border-color-secondary-transparent);
}

#title-card {
    color: var(--color-text-secondary);
    margin: 0;
}

#body-card {
    margin: 0;
}
