<section class="hero-section">
    <div class="hero">
        <div class="terminal-path">
            <span class="prompt">visitor@web-server:~$</span>
            <span class="path">~</span>
            <span class="command">/home</span>
        </div>
        <h1>Hi, I'm <span class="gradient-text">George</span></h1>
        <h2>Backend Software Engineer</h2>
        <div class="chips">
            <div class="chip">Java</div>
            <div class="chip">Spring Boot</div>
            <div class="chip">Docker</div>
            <div class="chip">REST APIs</div>
        </div>
        <p class="description">
            For the past two years I'm building backend solutions for enterprise grade systems, specialized on Spring
            Boot. Passionate on creating REST APIs to solve real-world problems.
        </p>
        <div class="hero-button">
            <app-button icon="mail" label="Get in touch" href="#contact"
                        variant="filled" shape="square" raised>
            </app-button>
            <app-button shape="square" raised href="#about" label="Learn more" variant="outlined">
            </app-button>
        </div>
        <i class="arrow-down bounce" data-feather="arrow-down" width="32" height="32"></i>
    </div>
</section>