<section class="skills-section">
    <div class="skills-content">
        <h4 class="code-comment"><span>&lt;skills&gt;</span></h4>
        <h1 class="skills-header">Technical
            <span class="gradient-text">Skills</span>
        </h1>
        <p class="skills-subheader">Specialized in building enterprise-grade backend systems with the Spring ecosystem,
            following best practices and
            clean architecture principles.</p>

        <!--    <div class="skills-wrapper">-->
        <!--        <app-card icon="server" title="Backend Development">-->
        <!--        </app-card>-->
        <!--        <app-card icon="layers" title="API Design">-->
        <!--        </app-card>-->
        <!--        <app-card icon="check-circle" title="Testing">-->
        <!--        </app-card>-->
        <!--        <app-card icon="git-branch" title="DevOps & Tools">-->
        <!--        </app-card>-->
        <!--        <app-card icon="layout" title="Frontend Development">-->
        <!--        </app-card>-->
        <!--        <app-card icon="database" title="Databases">-->
        <!--        </app-card>-->
        <!--    </div>-->
        <h4 class="code-comment"><span>&lt;skills/&gt;</span></h4>
    </div>
</section>