<section class="skills-section">
    <div class="skills-content">
        <h4 class="code-comment"><span>&lt;skills&gt;</span></h4>
        <h1 class="skills-header">Technical
            <span class="gradient-text">Skills</span>
        </h1>
        <p class="skills-subheader">Specialized in building enterprise-grade backend systems with the Spring ecosystem,
            following best practices and
            clean architecture principles.</p>

            <div class="skills-wrapper">
            </div>
        <h4 class="code-comment"><span>&lt;/skills&gt;</span></h4>
    </div>
</section>