<section>
    <h4 class="code-comment">// getInTouch()</h4>
    <h1 class="contact-header">Let's <span class="gradient-text">Connect</span></h1>
    <p>I'm always open to discussing new opportunities, interesting projects, or just having a chat.</p>

    <div class="contact-container">
        <div class="contact-details-wrapper">
            <div class="contact-details">
                <div class="contact-details-icon">
                    <i data-feather="map-pin" width="32px" height="32px"></i>
                </div>
                    <p class="contact-details-title">Athens, Greece</p>
            </div>
            <div class="contact-details">
                <div class="contact-details-icon">
                    <i data-feather="mail" width="32px" height="32px"></i>
                </div>
                    <p class="contact-details-title">george.karampelas.26@gmail.com</p>
            </div>
        </div>

        <div class="social-media-card">
            <p>Find me on</p>
            <div class="social-media-icons">
                <a href="https://www.linkedin.com/in/george-karampelas/" target="_blank">
                    <i data-feather="linkedin"></i>
                </a>
                <a href="https://github.com/gkarampelas" target="_blank">
                    <i data-feather="github"></i>
                </a>
            </div>
        </div>

        <app-button
                icon="send"
                variant="filled"
                raised
                href="mailto:george.karampelas.26@gmail.com"
                label="Send me a message"
        ></app-button>
    </div>
</section>