<section class="about-section">
    <div class="about-content">
        <div class="about-me">
            <h4 class="code-comment">// about me</h4>
            <h1 class="gradient-text">Crafting Backend Solutions</h1>
            <div class="main-content">
                <p>
                    I am a Software Engineer with a passion for building software with Java (aka Spring Boot). I aim to
                    solve real-world problems without compromising on quality and performance. Also, I tend to focus on
                    the solution rather than the technology. Each technology is just a tool, and I love to learn new
                    ones and solve real-world problems with them.
                </p>
                <p>
                    I believe that clean code and best practices are the key to building software that is
                    straightforward to maintain and extend. I am also a fan of TDD, and I try to write tests for every
                    new feature I add. When designing software, I follow OpenAPI specifications to create
                    well-documented APIs.
                </p>
                <p>
                    My favorite thing about software development is the challenges it presents and the opportunity to
                    learn new things every day.
                </p>
            </div>
        </div>
        <div class="about-cards">
            <app-card icon="terminal" title="Clean code advocate">
                <p>Writing maintainable, readable code that stands the test of time.</p>
            </app-card>
            <app-card icon="zap" title="Performance focused">
                <p>Optimizing performance and scalability of backend systems.</p>
            </app-card>
            <app-card icon="users" title="Team player">
                <p>Collaborating with other engineers to build great software.</p>
            </app-card>
            <app-card icon="book-open" title="Continuous learner">
                <p>Always learning new things and trying to apply them in my work.</p>
            </app-card>
        </div>
    </div>
</section>