<section class="about-section">
    <div class="about-content">
        <div class="about-me">
            <h4 class="code-comment">// about me</h4>
            <h1 class="gradient-text">Crafting Backend Solutions</h1>
            <div class="main-content">
                <p>
                    I am a Software Engineer specialized in building REST APIs with Spring Boot. I emphasize on building
                    readable, scalable and maintainable code, achieving this using Test Driven Development (TDD), best
                    practices and good documentation, for REST APIs I follow OpenAPI Specifications. I love building
                    secure solutions using Role-Based Access Control, Attribute-Based Access Control or a combination of
                    them depending on the project needs.
                </p>
                <p>
                    I am a big fan of <q>Keep it simple</q>, I prefer to focus on solving the problems based on the
                    needs of the project, because technology is a tool not the solution.
                </p>
                <p>
                    My favorite thing with my profession is the daily challenges that I face and I can learn new things
                    about technology daily.
                </p>
            </div>
        </div>
        <div class="about-cards">
            <app-card icon="terminal" title="Clean code">
                <p>Writing readable, scalable and maintainable code.</p>
            </app-card>
            <app-card icon="lock" title="Security first">
                <p>Building secure REST APIs based on tech standards</p>
            </app-card>
            <app-card icon="users" title="Team player">
                <p>Adapt and collaborate with a team to build software</p>
            </app-card>
            <app-card icon="book-open" title="Continuous learner">
                <p>Always learning new things and trying to apply them in my work.</p>
            </app-card>
        </div>
    </div>
</section>