<section class="education-section">
    <div class="education-content">
        <h4 class="code-comment">// education</h4>
        <h1 class="education-header gradient-text">Education & Certifications</h1>
        <app-card icon="book" title="B. Sc. in Computer Science">
            <span>Athens University of Economics and Business</span>
            <p class="education-description">I earned my Bachelor’s in Computer Science at AUEB, gaining a strong
                foundation in algorithms, software
                development, and computer systems. The program combined theoretical knowledge with practical skills,
                preparing me to tackle real-world technology challenges and develop solutions in the IT field.</p>
            <div class="education-date"><i data-feather="calendar"></i>Sept 2018 - Jan 2024</div>
        </app-card>
        <app-card icon="award" title="TDD With Spring Boot Done Right">
            <span>Philip Riecks</span>
            <p class="education-description">Learned practical Test‑Driven Development with Spring Boot, applying the
                Red‑Green‑Refactor workflow to build reliable, maintainable applications.</p>
            <a class="anchor-unstyled" target="_blank" href="files/TDDWithSpringBootDoneRight.pdf">Download</a>
            <div class="education-date"><i data-feather="calendar"></i>Sept 2023</div>
        </app-card>
        <app-card icon="award" title="Docker & Kubernetes: The Practical Guide">
            <span>Maximilian Schwarzmuller</span>
            <p class="education-description">Gained hands‑on experience with Docker and Kubernetes, building, deploying,
                and managing containerized applications in real-world scenarios.</p>
            <a class="anchor-unstyled" target="_blank" href="files/DockerKubernetes.pdf">Download</a>
            <div class="education-date"><i data-feather="calendar"></i>Jun 2025</div>
        </app-card>
    </div>
</section>