<section class="education-section">
    <div class="education-content">
        <h4 class="code-comment">// education</h4>
        <h1 class="education-header gradient-text">Education & Certifications</h1>
        <app-card icon="book" title="B. Sc. in Computer Science">
            <span>Athens University of Economics and Business</span>
            <p class="education-description">
                I earned my Bachelor in Computer Science at AUEB, it gave the supplies and the foundation of the IT
                sector. Covering theoretical and practical topics around programming, data structures, algorithms,
                databases, operating systems, distributed systems, networks, security, design software. Helping me to
                evolve to a Software Engineering and gain a deeper understanding of how things work in the IT sector.
            </p>
            <div class="education-date"><i data-feather="calendar"></i>Sept 2018 - Jan 2024</div>
        </app-card>
        <app-card icon="award" title="TDD With Spring Boot Done Right">
            <span>Philip Riecks</span>
            <p class="education-description">Learning TDD with Java and Spring Boot, understanding how TDD works on a
                project and helping me to be more confident about myself with TDD.</p>
            <a class="anchor-unstyled" target="_blank" href="files/TDDWithSpringBootDoneRight.pdf">Download</a>
            <div class="education-date"><i data-feather="calendar"></i>Sept 2023</div>
        </app-card>
        <app-card icon="award" title="Docker & Kubernetes: The Practical Guide">
            <span>Maximilian Schwarzmuller</span>
            <p class="education-description">Helped me on deep understating Docker, how to build my custom images, run
                containers based on such images, understanding save data with the help of volumes and how containers
                communicate outside the world and between multiple containers. How to deploy an application with the
                help of docker with a container or multiple containers. Also helped me understand Kubernetes core
                concepts and architecture and learned how to create Kubernetes resources, deployments and services.</p>
            <a class="anchor-unstyled" target="_blank" href="files/DockerKubernetes.pdf">Download</a>
            <div class="education-date"><i data-feather="calendar"></i>Jun 2025</div>
        </app-card>
    </div>
</section>